// @import '../../assets/css/Variables.scss';

// @mixin navLinkStyles {
//   text-decoration: none;
//   color: $Blue;
//   text-transform: inherit;

//   &:hover {
//     text-decoration: none;
//     color: lightgrey;
//     border-bottom-color: lightgrey; /* Color on hover */
//   }
// }

// .NavBar {
//   padding: 0;
//   position: fixed;
//   top: 0px;
//   width: 100%;
//   background-color: $White;
//   z-index: 3;

//   .NavContainer {
//     display: flex;
//     flex-wrap: wrap; /* Add wrap to handle smaller screens */
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 3em;
//     border-bottom: 8px solid $Blue; /* Blue bottom border */

//     .NavList {
//       margin: 0;
//       list-style: none;
//       display: flex; /* Add this line to make the list items display in a line */

//       li {
//         margin: 0 1.5em;
//         cursor: pointer;

//         a {
//           @include navLinkStyles;
//         }

//         &:not(:last-child)::after {
//           content: '|';
//           margin-left: 0.5em;
//           color: $Blue;
//           display: inline-block; /* Ensure the vertical bar is on the same line as text */
//         }
//       }

//       .H2Right {
//         color: $Dark;
//         font-size: 2em;
//         order: 1; /* Initial order, it will be changed in the media query */
//       }

//       .Leo {
//         color: $Blue;
//       }
//     }

//     // Responsive Styles
//     @media only screen and (max-width: 768px) {
//       padding: 0 1em; /* Adjust padding for smaller screens */
      
//       .NavList {
//         flex-direction: column; /* Stack the list items in a column on smaller screens */
//         align-items: center; /* Align the list items to the center on smaller screens */

//         .H2Right {
//           order: -1; /* Change the order to move it on top */
//           margin-bottom: 10px; /* Optional: add margin to separate from other items */
//         }

//         li {
//           margin: 0.5em 0;
//           font-size: x-large;
//           &:not(:last-child) a::after {
//             content: ''; 
//           }
//         }
//       }
//     }
//   }
// }


@import '../../assets/css/Variables.scss';

@mixin navLinkStyles {
  text-decoration: none;
  color: $Blue;
  text-transform: inherit;

  &:hover {
    text-decoration: none;
    color: grey;
    border-bottom-color: lightgrey; /* Highlight on hover */
  }
}

.NavBar {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ececec;
  z-index: 3;

  .NavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    border-bottom: 8px solid $Blue;

    .NavList {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        position: relative;
        margin: 0 1.5em;
        cursor: pointer;

        a {
          @include navLinkStyles;
        }

        &:hover .DropdownMenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    .H2Right {
      color: $White;
      font-size: 2em;
    }

    .Leo {
      color: $Blue;
    }
  }
}

/* Dropdown Menu Styles */
.Dropdown {
  .DropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $White;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    min-width: 200px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    li {
      margin: 0;
      padding: 0.5em 1em;

      a {
        @include navLinkStyles;
        display: block;
      }

      &:hover {
        background-color: Grey;
      }
    }
  }
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .NavContainer {
    padding: 0 1em;

    .NavList {
      flex-direction: column;
      align-items: center;

      li {
        margin: 0.5em 0;

        .DropdownMenu {
          position: static;
          box-shadow: none;
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
          padding: 0;
          background-color: transparent;

          li {
            padding: 0.5em 0;
          }
        }
      }
    }
  }
}
