@import '../../assets/css/Variables.scss';

// Contact.module.scss
.contactContainer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px;
  }
  
  .heroImage {
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    overflow: hidden;
    margin-top: 40px;
  }
  
  .heroImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contactInfo {
    h1 {
      color: #333;
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    address {
      color: #666;
      font-size: 1.2em;
      line-height: 1.5;
    }
  
    a {
      color: $Blue;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  