//Main.module.scss
@import '../../assets/css/Variables.scss';

// Define a mixin for common image module styles
@mixin imageModuleStyles {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  text-align: justify;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 100%; /* Set the height to 100% to match the parent container */
    object-fit: cover; /* Maintain the aspect ratio of the image */
    border: 1px solid #ddd;
    margin-bottom: 15px;
  }

  .image-module_header {
    width: 100%;
    color: $Blue;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    text-align: center;
    padding: 0 0 1em 0;
  }

  p {
    text-align: left;
    padding: 0 8em 0 1em;
    font-family: 'Inter';
  }

  // Add a $NavyBlue border to all .image-module elements
  border: 5px solid $NavyBlue;
  margin-bottom: 3em;
}

.image-section,
.image-section .image-row {
  width: 100%;
  display: block;

  .image-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .image-module {
      @include imageModuleStyles;
      height: 500px;
    }
  }
}

// Adjust for small screens only
@media (max-width: 768px) {
  .image-section {
    padding: 10px;
    margin-top: 150vh;

    .image-row {
      display: flex;
      flex-direction: column; /* Stack items vertically */
      gap: 20px; /* Add space between stacked elements */
    }

    .image-column {
      width: 100%; /* Full width for columns */
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      align-items: center;

      .image-module {
        width: 100%; /* Full width for image modules */
        padding: 10px;
        display: flex;
        flex-direction: column; /* Ensure content stacks properly */

        img {
          height: auto; /* Maintain aspect ratio */
          object-fit: contain; /* Prevent cropping */
        }

        h2 {
          font-size: 1.2em; /* Adjust heading size */
          margin: 10px 0;
          text-align: center; /* Ensure centered alignment */
        }

        p {
          // padding: 0 1em; /* Adjust padding for small screens */
          margin: 0 3em;
          width: 100%; /* Make the paragraph take up full width */
          box-sizing: border-box; /* Include padding in width */
          text-align: justify; /* Keep text alignment for readability */
        }
      }
    }
  }
}
