// @import '../../assets/css/Variables.scss';

// // Define a mixin for common image module styles
// @mixin imageModuleStyles {
//   width: 50%;
//   padding: 15px;
//   box-sizing: border-box;
//   text-align: justify;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   img {
//     width: 100%;
//     height: auto;
//     border: 1px solid #ddd;
//   }
// }

// .image-section,
// .image-section .image-row {
//   width: 100%;
//   display: block;

//   .image-column {
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;

//     .image-module {
//       @include imageModuleStyles;

//       .image-module_header {
//         color: $Blue;
//         text-transform: uppercase;
//       }

//       h2 {
//         text-align: center;
//         padding: 0 0 4em 0;
//       }

//       p {
//         text-align: left;
//         padding: 0 4em 0 4em;
//         font-family: 'Inter';
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .image-section .image-row .image-column .image-module {
//     width: 100%;
//     padding: 15px;
//     margin-top: 170vh; /* Adjust the margin as needed */

//     h2 {
//       padding: 0 0 1em 0;
//     }
  
//     p {
//       padding: 0 1em 0 1em;
//     }
//   }
// }


@import '../../assets/css/Variables.scss';

// Define a mixin for common image module styles
@mixin imageModuleStyles {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  text-align: justify;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 100%; /* Set the height to 100% to match the parent container */
    object-fit: cover; /* Maintain the aspect ratio of the image */
    border: 1px solid #ddd;
    margin-bottom: 15px;
  }

  .image-module_header {
    width: 100%;
    height: 100%; 
    color: $Blue;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    padding: 0 0 1em 0; /* Adjusted padding */
  }

  p {
    text-align: left;
    padding: 0 4em 0 6em;
    font-family: 'Inter';
    position: relative;
    bottom: 300px;
   
  }

  // Add a $NavyBlue border to all .image-module elements
  border: 5px solid $NavyBlue;
  margin-bottom: 3em;
}

.image-section,
.image-section .image-row {
  width: 100%;
  display: block;

  .image-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .image-module {
      @include imageModuleStyles;
      height: 500px;
    }
  }
}

@media (max-width: 768px) {
  .image-section .image-row .image-column .image-module {
    width: 100%;
    padding: 15px;
    margin-top: 200vh; /* Adjust the margin as needed */

    h2 {
      padding:0; /* Top, right, bottom, left */
      margin: auto;
    }
  
    p {
      padding: 0 2em 0 2em;
    }
  }
}
